/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.choice__menu {
  display: inline-block;
  vertical-align: sub;
}

.decision-tree__choice .block-editor-inner-blocks {

  margin-left: 30px;

}

.decision-tree__question {
  border: 1px solid gray;
  padding: 10px;
}